version: '3'
services:
  electrumx:
    image: lucky2077/atomicals-electrumx:v1.5.0.3
    restart: always
    ports:
      - 50001:50001
      - 50002:50002
      - 8000:8000
      - 8080:8080
    volumes:
      - ./electrumx-data:/data
    environment:
      - DAEMON_URL=nextdao:nextdao@127.0.0.1:8332
      - COIN=BitCoin
